In [1]:
import pandas as pd
import os
path = '/Users/zhangle/百度云同步盘/工作/floating/floatingpopulation/floatdata/2012/2012part'
os.chdir(path)
fs = pd.read_excel('fs.xlsx')

In [2]:
fs.head(n=2)

,pro_name,q101b1,Agegroup,q101e1,q101f1,q101g1,q101h1,q101i1,q101k1,q202,...,q402,q404b1,q404c1,q404d1,q404e1,q404f1,q405a,q405c,q405d,q406
0,北京市,女,40-50,汉族,大学本科,非农业,初婚,就业,跨省流动,就业,...,很少与人来往,否,是,是,是,否,完全同意,完全同意,基本同意,很幸福
1,北京市,女,50-60,汉族,大学专科,非农业,离婚,就业,跨省流动,就业,...,其他本地人,否,是,是,是,否,完全同意,完全同意,基本同意,一般

In [3]:
Y = fs.loc[:,'q404f1']
y = (Y =='是').astype(int)
X = fs.drop('q404f1',axis = 1)
X = pd.get_dummies(X)

In [14]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=200, max_features=6, oob_score=True)
model = rfc.fit(X, y)

In [15]:
pd.crosstab(model.predict(X),y)

q404f1       0      1
row_0
0       114741    489
1          437  42889

In [16]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
model = lr.fit(X, y)

In [17]:
pd.crosstab(model.predict(X),y)

q404f1      0      1
row_0
0       98591  18669
1       16587  24709