In [1]:
import pandas as pd
import os

In [2]:
path='/Users/zhangle/百度云同步盘/工作/floating/floatingpopulation/floatdata/2012/2012part'

In [3]:
os.chdir(path)

In [4]:
part1=pd.read_csv('2012年流动人口动态监测调查第一部分基本情况.csv',encoding='gbk',low_memory=False)

In [5]:
part2=pd.read_csv('2012年流动人口动态监测调查第二部分就业、居住和医保.csv',encoding='gbk',low_memory=False)

In [6]:
part4=pd.read_csv('2012年流动人口动态监测调查第四部分生活与感受.csv',encoding='gbk',low_memory=False)

In [7]:
part12=pd.merge(part1,part2,on='id')

In [8]:
floatsmoke = pd.merge(part12,part4,on='id')

In [9]:
n = len(floatsmoke)
n

158556

In [10]:
# 二维列联表 floatsmoke.pro_name省份
pd.crosstab(floatsmoke.pro_name, floatsmoke.q404f1).apply(lambda r: r/r.sum(),axis=1)

q404f1           否         是
pro_name
上海市       0.773494  0.226506
云南省       0.641032  0.358968
兵团        0.672488  0.327512
内蒙古自治区    0.655388  0.344612
北京市       0.772272  0.227728
吉林省       0.726340  0.273660
四川省       0.705029  0.294971
天津市       0.703109  0.296891
宁夏        0.732482  0.267518
安徽省       0.757439  0.242561
山东省       0.832164  0.167836
山西省       0.701856  0.298144
广东省       0.772098  0.227902
广西壮族自治区   0.721471  0.278529
新疆维吾尔自治区  0.710083  0.289917
江苏省       0.763108  0.236892
江西省       0.756642  0.243358
河北省       0.669254  0.330746
河南省       0.748311  0.251689
浙江省       0.724262  0.275738
海南省       0.679009  0.320991
湖北省       0.746864  0.253136
湖南省       0.694021  0.305979
甘肃省       0.692115  0.307885
福建省       0.734434  0.265566
西藏自治区     0.693619  0.306381
贵州省       0.634067  0.365933
辽宁省       0.700500  0.299500
重庆市       0.712034  0.287966
陕西省       0.699299  0.300701
青海省       0.738587  0.261413
黑龙江省      0.703630  0.296370

In [94]:
# 二维列联表 floatsmoke.q101d1户籍地
pd.crosstab(floatsmoke.q101d1, floatsmoke.q404f1).apply(lambda r: r/r.sum(),axis=1)

q404f1         否         是
q101d1
上海      0.695122  0.304878
云南      0.653858  0.346142
兵团      0.727273  0.272727
内蒙古     0.670129  0.329871
北京      0.771739  0.228261
台湾      1.000000  0.000000
吉林      0.726963  0.273037
四川      0.694897  0.305103
天津      0.751479  0.248521
宁夏      0.749567  0.250433
安徽      0.744352  0.255648
山东      0.787954  0.212046
山西      0.710938  0.289062
广东      0.753425  0.246575
广西      0.740339  0.259661
新疆      0.738251  0.261749
江苏      0.752811  0.247189
江西      0.764803  0.235197
河北      0.710512  0.289488
河南      0.726373  0.273627
浙江      0.740433  0.259567
海南      0.711963  0.288037
湖北      0.744280  0.255720
湖南      0.727558  0.272442
甘肃      0.706633  0.293367
福建      0.744588  0.255412
西藏      0.807692  0.192308
贵州      0.656189  0.343811
辽宁      0.723618  0.276382
重庆      0.698348  0.301652
陕西      0.707273  0.292727
青海      0.781504  0.218496
香港      0.666667  0.333333
黑龙江     0.705064  0.294936

In [95]:
pd.crosstab(floatsmoke.q101b1, floatsmoke.q404f1).apply(lambda r: r/r.sum(),axis=1)

q404f1         否         是
q101b1
女       0.972802  0.027198
男       0.508708  0.491292

In [11]:
# 日期处理
# int转换为str
floatsmoke.q101c1.astype('str')
floatsmoke['birth'] = pd.to_datetime(floatsmoke.q101c1,format='%Y%m')

In [12]:
def strlist(string, n):
    timestr = []
    i = 0
    while i < n:
        timestr.append(string)
        i += 1
    return timestr

In [13]:
floatsmoke['riqi']=strlist('201205',158556)
len(floatsmoke.riqi)

158556

In [14]:
floatsmoke.riqi.astype('int')
floatsmoke['diaochariqi'] = pd.to_datetime(floatsmoke.riqi,format='%Y%m')

In [15]:
floatsmoke['birth'].head()

0   1962-12-01
1   1954-01-01
2   1987-08-01
3   1990-02-01
4   1971-06-01
Name: birth, dtype: datetime64[ns]

In [16]:
floatsmoke['diaochariqi'].head()

0   2012-05-01
1   2012-05-01
2   2012-05-01
3   2012-05-01
4   2012-05-01
Name: diaochariqi, dtype: datetime64[ns]

In [17]:
floatsmoke['Difference'] = floatsmoke['diaochariqi'].sub(floatsmoke['birth'])

In [18]:
floatsmoke['Age'] = round(floatsmoke['Difference'].dt.days/365.25).astype(int)

In [19]:
pd.cut(floatsmoke.Age,[14,30,40,50,61],labels=['15-30','30-40','40-50','50-60']).value_counts()

15-30    66209
30-40    53046
40-50    34036
50-60     5265
Name: Age, dtype: int64

In [20]:
floatsmoke['Agegroup'] = pd.cut(floatsmoke.Age,[14,30,40,50,61],labels=['15-30','30-40','40-50','50-60'])

In [21]:
# 二维列联表 floatsmoke.pro_name省份
pd.crosstab(floatsmoke.Agegroup, floatsmoke.q404f1).apply(lambda r: r/r.sum(),axis=1)

q404f1           否         是
Agegroup
15-30     0.777115  0.222885
30-40     0.720582  0.279418
40-50     0.659449  0.340551
50-60     0.580627  0.419373

In [22]:
# 保留变量
columns=['pro_name','q101b1','Agegroup','q101e1','q101f1','q101g1','q101h1','q101i1','q101k1','q202','q203','q204',
         'q211','q213','q402','q404b1','q404c1','q404d1','q404e1','q404f1','q405a','q405c','q405d','q406']

# 保存了 fs.xlsx

In [23]:
fs = floatsmoke[columns]
fs.head(n=2)
fs.to_excel('./fs.xlsx')
#fs.to_csv('./fs.csv') 乱码

# 保存了 fs.xlsx

In [109]:
# 查看缺失 null
fs.isnull().sum()
# 
fs['q203']==' '
# 
fs.loc[fs['q203']==' ',['q203']]

pro_name    0
q101b1      0
Agegroup    0
q101e1      0
q101f1      0
q101g1      0
q101h1      0
q101i1      0
q101k1      0
q202        0
q203        0
q204        0
q211        0
q213        0
q402        0
q404b1      0
q404c1      0
q404d1      0
q404e1      0
q404f1      0
q405a       0
q405c       0
q405d       0
q406        0
dtype: int64

In [ ]:
# 查看缺失
tbrecurrence.isnull().sum().sort_values(ascending=False).head(10)

In [73]:
for col in columns:
    a=['其他' if ' ' in x else x for x in fs[col].tolist()]

In [60]:
# 随机生成dataframe
import numpy as np
pd.DataFrame(np.random.randn(10, 4))

          0         1         2         3
0  0.054560  0.888118  0.506589 -0.845290
1 -0.106216  0.212371  0.783886 -0.914115
2  0.810219 -0.722694 -0.597202 -1.731766
3  1.123853 -1.199366  0.618577  0.978447
4 -0.310111  0.364754 -0.407979  0.133956
5  1.106091 -1.204241  0.194938  0.498619
6 -0.802735 -1.975619 -0.264963 -0.527977
7  1.698055 -1.073832 -1.085620 -0.901051
8  1.558132  0.516783  0.565488  0.544565
9 -1.423910  0.108038  0.326057  0.965763

In [74]:
from sklearn.linear_model import LogisticRegression

In [75]:
lr = LogisticRegression()

In [40]:
Y = fs.loc[:,'q404f1']
y = (Y =='是').astype(int)
X = fs.drop('q404f1',axis = 1)
X = pd.get_dummies(X)

In [104]:
model = lr.fit(X, y)

In [106]:
model.predict(X)
pd.crosstab(y,model.predict(X))

col_0       否      是
q404f1
否       98591  16587
是       18669  24709

In [100]:
import xgboost
model = xgboost.XGBClassifier(min_child_weight= 10, subsample=0.8, colsample_bytree = 0.8, 
                              scale_pos_weight =1, max_depth=4, 
                              objective = 'binary:logistic', learning_rate=0.01,
                              n_estimators=500, reg_alpha=0.005)
model.fit(X, y)
pd.crosstab(y,model.predict(X))

/Users/zhangle/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

col_0        否      是
q404f1
否       100345  14833
是        20675  22703

In [103]:
import xgboost
model = xgboost.XGBClassifier()
model.fit(X, y)
pd.crosstab(y,model.predict(X))

col_0        否      是
q404f1
否       100087  15091
是        20110  23268

In [102]:
fs.q404f1.value_counts()

否    115178
是     43378
Name: q404f1, dtype: int64

In [ ]:
from sklearn import svm
svc = svm.SVC(kernel='linear')
model = svc.fit(X, y)
pd.crosstab(y,model.predict(X))

In [ ]:
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
max_features =  [.1, .3, .5, .7, .9 , .99]
test_scores = []
for max_feat in max_features:
    rfc = RandomForestClassifier(n_estimators=200, max_features=max_feat, oob_score=True)
    test_score = np.sqrt(-cross_val_score(rfc, X, y, cv=5, 
                                          scoring='neg_mean_squared_error'))
    test_scores.append(np.mean(test_score))
plt.plot(max_features, test_scores)
plt.title('Max Features vs CV Error')

In [ ]:
rfc = RandomForestClassifier(n_estimators=200, max_features=6, oob_score=True)
model = rfc.fit(X_train_resampled.astype(uint8), y_train_resampled)